{
    // https://khalilstemmler.com/blogs/typescript/eslint-for-typescript/
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "settings": {},
    "rules": {
        "space-before-function-paren": 0,
        "import/export": 0
    }
}
